@model BlogCore.Models.ViewModels.ArticuloViewModel

@{
    ViewData["Title"] = "Editar Articulo";
}

<div class="container">
    <main>
        <div class="col-md-12 mt-4">
            <h4 h4 class="mb-3">Editar Articulo</h4>
            <form class="row g-3" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Articulo.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12">
                    <label asp-for="Articulo.Nombre" class="form-label"></label>
                    <input asp-for="Articulo.Nombre" class="form-control border border-secondary" placeholder="Nombre del Articulo" required />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Articulo.Descripcion" class="form-label"></label>
                    <textarea asp-for="Articulo.Descripcion" class="form-control border border-secondary" placeholder="Descripcion del Articulo" rows="10"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label for="Categoria" class="form-label">Categoria</label>
                    @Html.DropDownListFor(model => model.Articulo.CategoriaId, Model.ListaCategorias, "Seleccione una Categoria", new { @class = "form-control border border-secondary" })
                </div>
                <div class="col-md-12">
                    <label asp-for="Articulo.UrlImagen" class="form-label"></label>
                    <input type="file" id="subidaArchivo" name="subidaArchivo" class="form-control border border-secondary" />
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label for="Preview" class="form-label">Preview</label>
                    <img id="previewImagen" src="@Model.Articulo.UrlImagen" class="img-fluid" alt="Preview" width="100%" />
                </div>
                <div class="col-md-12">
                    <a asp-action="Index" class="btn btn-secondary float-end">Cancelar</a>
                    <button type="submit" class="btn btn-primary float-end me-2" asp-route-id="@Model.Articulo.Id">Actualizar</button>
                </div>
            </form>
        </div>
    </main>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/onq6ujf48divqg0h66c00i6itxr6pta29zlu57j5a5xagd1x/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: false
        });

        // Función para actualizar la imagen de preview
        function actualizarPreviewImagen(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewImagen').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        // Capturar el evento de cambio del input de archivo
        $('#subidaArchivo').change(function () {
            actualizarPreviewImagen(this);
        });
    </script>
}