@model BlogCore.Models.Articulo
@{
    ViewData["Title"] = "Detalles del articulo";
}
<div class="container">
    <div class="card">
        <div class="card-header bg-light text-light ml-0 row container-fluid">
            <div class="col-12 col-md-6">
                <h4 class="text-primary">@Model.Nombre</h4>
            </div>
            <div class="col-12 col-md-6">
                <h4 class="text-muted">@Model.FechaCreacion</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12">
            <img src="@Model.UrlImagen" class="img-thumbnail mx-auto d-block" alt="Imagen del articulo" />
            <p class="text-justify">@Html.Raw(Model.Descripcion)</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="col-12 col-md-6 pb-2">
            <a asp-action="Index" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>