@{
    ViewData["Title"] = "Lista de Sliders";
}
<div class="container">
    <div class="border rounded bg-light p-4">
        <div class="row">
            <div class="col-8">
                <h2 class="text-primary">Lista de Sliders</h2>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a asp-action="Create" class="btn btn-primary text-white">
                    <i class="fas fa-plus"></i> Crear Nuevo Slider
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table id="tblSliders" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" aria-describedby="tblSliders">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí irían los elementos de la tabla -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblSliders').DataTable({
                "ajax": {
                    "url": "/admin/sliders/getall",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "width": "5%" },
                    { "data": "nombre", "width": "60%" },
                    {
                        "data": "estado",
                        "render": function (data) {
                            if (data == true) {
                                return `<div class="text-center">
                                                <i class="fas fa-check-circle text-success"></i>
                                            </div>`;
                            }
                            else {
                                return `<div class="text-center">
                                                <i class="fas fa-times-circle text-danger"></i>
                                            </div>`;
                            }
                        }, "width": "5%"
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                            <a href="/admin/sliders/edit/${data}" class="btn btn-success text-white" style="width: 100px;">
                                                <i class="fas fa-edit"></i> Editar
                                            </a>
                                            <a onclick=Delete("/admin/sliders/delete/${data}") class="btn btn-danger text-white" style="width: 100px;">
                                                <i class="fas fa-trash-alt"></i> Eliminar
                                            </a>
                                            <a onclick=CambiarEstado("/admin/sliders/cambiarestado/${data}") class="btn btn-warning text-white" style="width: 200px;">
                                                <i class="fas fa-exchange-alt"></i> Cambiar Estado
                                            </a>
                                        </div>`;
                        }, "width": "30%"
                    }
                ],
                "language": {
                    "emptyTable": "No hay registros",
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontro ningun registro",
                    "info": "Mostrando la pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
                "width": "100%"
            });
        });

        function Delete(url) {
            swal({
                title: "¿Estas seguro de eliminar?",
                text: "Este registro no se podrá recuperar",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, eliminar",
                closeOnconfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            $('#tblSliders').DataTable().ajax.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            });
        }

        function CambiarEstado(url) {
            swal({
                title: "¿Estas seguro de cambiar el estado?",
                text: "Este registro cambiará su estado",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, cambiar",
                closeOnconfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            $('#tblSliders').DataTable().ajax.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            });
        }
    </script>
}

