@page
@model LockoutModel
@{
    ViewData["Title"] = "La cuenta ha sido bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Su cuenta ha sido bloqueada.</p>
</header>
